# Intro

{Fill in with information about this notebook}

# Set Up notebook

In [1]:
#Import modules
import numpy as np #Data manipulation
import pandas as pd #Point data manipulation and organization
import xarray as xr #Raster data manipulation and organization

import pathlib  #For filepaths, io, etc.
import os       #For several system-based commands
import datetime #For manipulation of time data, including file creation/modification times
import json     #For dictionary io, etc.

import matplotlib.pyplot as plt #For plotting and data vizualization
import geopandas as gpd         #For organization and manipulation of vector data in space (study area and some data points)
import rioxarray as rxr         #For orgnaization and manipulation of raster data
import shapely                  #For converting coordinates to point geometry

#Scripts with functions made for this specific application
import w4h

#Variables needed throughout, best to just assign now
todayDate, dateSuffix = w4h.getCurrentDate() 
repoDir = pathlib.Path(os.getcwd())

# Read in data

- Set up filepaths
- Read in data from:
    - downholeData table (from database)
    - headerData table (from database)
    - xyzData file (from previously carried out work) (will eventually make this updateable)

Read in data

In [2]:
directoryDir = r'\\isgs-sinkhole.ad.uillinois.edu\geophysics\Balikian\BedrockWellData\Wells\RawWellData_OracleDatabase\TxtData\\'[:-1]
downholeDataPATH, headerDataPATH, xyzInPATH  = w4h.filesSetup(db_dir=directoryDir)

#Functions to read data into dataframes. Also excludes extraneous columns, and drops header data with no location information
headerDataIN, downholeDataIN = w4h.readRawTxtData(downholefile=downholeDataPATH, headerfile=headerDataPATH) 
xyzDataIN = w4h.readXYZData(xyzfile=xyzInPATH)

Most Recent version of this file is : ISGS_DOWNHOLE_DATA_2023-01-06.txt
Most Recent version of this file is : ISGS_HEADER_2023-01-06.txt
Most Recent version of this file is : xyzData.csv
Using the following files:

\\isgs-sinkhole.ad.uillinois.edu\geophysics\Balikian\BedrockWellData\Wells\RawWellData_OracleDatabase\TxtData\ISGS_DOWNHOLE_DATA_2023-01-06.txt
\\isgs-sinkhole.ad.uillinois.edu\geophysics\Balikian\BedrockWellData\Wells\RawWellData_OracleDatabase\TxtData\ISGS_HEADER_2023-01-06.txt
\\isgs-sinkhole.ad.uillinois.edu\geophysics\Balikian\BedrockWellData\Wells\RawWellData_OracleDatabase\TxtData\xyzData.csv
Downhole Data has 3054409 valid well records.
Header Data has 636855 unique wells with valid location information.

Define datatypes (doing this during the read in process has presented issues)

In [3]:
#Define datatypes, to read into defineDataTypes() function
##EVENTUALLY, MAKE THIS A FILE IN THE RES FOLDER TO READ IN
#downholeDataDTYPES = {'ID':np.uint32, "API_NUMBER":np.uint64,"TABLE_NAME":str,"WHO":str,"INTERPRET_DATE":str,"FORMATION":str,"THICKNESS":np.float64,"TOP":np.float64,"BOTTOM":np.float64}
#headerDataDTYPES = {'ID':np.uint32,'API_NUMBER':np.uint64,"TDFORMATION":str,"PRODFORM":str,"TOTAL_DEPTH":np.float64,"SECTION":np.float64,"TWP":np.float64,"TDIR":str,"RNG":np.float64,"RDIR":str,"MERIDIAN":np.float64,"FARM_NAME":str,"NSFOOT":np.float64,"NSDIR":str,"EWFOOT":np.float64,"EWDIR":str,"QUARTERS":str,"ELEVATION":np.float64,"ELEVREF":str,"COMP_DATE":str,"STATUS":str,"FARM_NUM":str,"COUNTY_CODE":np.float64,"PERMIT_NUMBER":str,"COMPANY_NAME":str,"COMPANY_CODE":str,"PERMIT_DATE":str,"CORNER":str,"LATITUDE":np.float64,"LONGITUDE":np.float64,"ENTERED_BY":str,"UPDDATE":str,"ELEVSOURCE":str, "ELEV_FT":np.float64}
#xyzDataDTYPES = {'ID':np.uint64, 'API_NUMBER':np.uint64, "LATITUDE":np.float64, "LONGITUDE":np.float64, "ELEV_FT":np.float64}

#Define datatypes of each column of the new dataframes
downholeDataIN = w4h.defineDataTypes(downholeDataIN, dtypeFile='downholeDataTypes.txt')
headerDataIN = w4h.defineDataTypes(headerDataIN, dtypeFile='headerDataTypes.txt')
xyzDataIN = w4h.defineDataTypes(xyzDataIN, dtypeFile='xyzDataTypes.txt')

#Make a copy of the data so raw data is preserved while we work with the rest of the data
downholeData = downholeDataIN.copy()
headerData = headerDataIN.copy()
xyzData = xyzDataIN.copy()

Read in Study Area

In [4]:
import w4h
studyAreaPath = r"\\isgs-sinkhole.ad.uillinois.edu\geophysics\Balikian\ISWS_HydroGeo\WellDataAutoClassification\SampleData\ESL_StudyArea_5mi.shp"
#studyAreaPath = r"C:\Users\balikian\OneDrive - University of Illinois - Urbana\Data_OneDrive\CodesScripts\MahometBoreholesPolygon.zip"
studyAreaIN, saExtent = w4h.readStudyArea(studyAreaPath)

Read in/Define Model Grid, surface elevation grid, and bedrock elevation grid

In [5]:
import w4h

modelGridPath = r"\\isgs-sinkhole.ad.uillinois.edu\geophysics\Balikian\ISWS_HydroGeo\WellDataAutoClassification\SampleData\grid_625_raster.tif"
surfaceElevPath = r"\\isgs-sinkhole.ad.uillinois.edu\geophysics\Balikian\ISWS_HydroGeo\WellDataAutoClassification\SampleData\ILStateLidar_ClipExtentESL.tif"
bedrockElevPath = r"\\isgs-sinkhole.ad.uillinois.edu\geophysics\Balikian\ISWS_HydroGeo\WellDataAutoClassification\SampleData\ESLBedrock.tif"

modelGrid = w4h.read_grid(datapath=modelGridPath, grid_type='model', studyArea=studyAreaIN,  read_grid=True, clip2SA=True)#, gridcrs='EPSG:26715', studyAreacrs='EPSG:26715')
surfaceElevGridIN = w4h.read_grid(datapath=surfaceElevPath, grid_type='surface', studyArea=studyAreaIN, use_service=False, clip2SA=True)
bedrockElevGridIN = w4h.read_grid(datapath=bedrockElevPath, grid_type='bedrock', studyArea=studyAreaIN, use_service=False, clip2SA=True)

Add in Control points

In [6]:
#NEED CODE HERE FOR ADDING IN CONTROL Wells MANUALLY
#Add control headerInfo
#Add control description info

# Extract Elevation Data

Extract elevation data from consistent elevation dataset for all wells (lidar or other statewide DEM)

In [7]:
#First, get wells with updated xyz info
    #Check first if xyzData needs to be updated with locations (?)
    #Check which wells in headerData don't have associated lidar data

#statewideLidar =  ow
#mapping.rastertoPoints_extract()

Merge elevation data with headerData table

In [8]:
uniqueWells = headerData['API_NUMBER'].unique()
#xyzData['UniqueWells'] = uniqueWells

headerData = w4h.addElevtoHeader(xyzData, headerData)
##NEED TO UPDATE THIS TO WORK WITH DATA WITH NO XYZ ELEVATION DATA FROM LIDAR
#Change xyz column name to indicate lidar
#Use order of preference: lidar, headerData table?/30/10m DEM?

# Data Cleaning

## First, let's clean up records in the data without the necessary information

Clip data from outside Study Area

In [9]:
headerData = w4h.coords2Geometry(df=headerData, xCol='LONGITUDE', yCol='LATITUDE', crs='EPSG:4269')
#headerData['geometry']=headerData['GEOMETRY'].copy() #old code
headerDataClip = w4h.clipHeader2StudyArea(studyarea=studyAreaIN, headerdata=headerData, headerCRS='EPSG:4269')
headerData = headerDataClip.copy()
headerData

c:\ProgramData\Anaconda3\envs\raster38\lib\site-packages\geopandas\array.py:275: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  return GeometryArray(vectorized.points_from_xy(x, y, z), crs=crs)

,API_NUMBER,TOTAL_DEPTH,SECTION,TWP,TDIR,RNG,RDIR,MERIDIAN,QUARTERS,ELEVATION,ELEVREF,COUNTY_CODE,ELEVSOURCE,LATITUDE,LONGITUDE,ELEV_FT,geometry
0,13626212,201.0,15.0,2.0,N,5.0,W,3.0,NE NW NW,591.0,nan,27.0,nan,38.733337,-89.933357,580.419373,POINT (-89.93336 38.73334)
1,930917112,73.0,31.0,6.0,N,8.0,W,3.0,nan,537.0,GL,119.0,nan,38.930069,-90.030655,529.981140,POINT (-90.03065 38.93007)
2,930921712,75.0,25.0,6.0,N,9.0,W,3.0,SE,532.0,GL,119.0,nan,38.941998,-90.045364,530.172913,POINT (-90.04536 38.94200)
3,930921812,295.0,6.0,5.0,N,8.0,W,3.0,N2 SW NW,526.0,GL,119.0,nan,38.918377,-90.038200,520.954590,POINT (-90.03820 38.91838)
4,930921912,2195.0,23.0,5.0,N,8.0,W,3.0,SE,507.0,GL,119.0,nan,38.870552,-89.955078,507.976868,POINT (-89.95508 38.87055)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8145,1374073512,52.0,23.0,1.0,N,9.0,W,3.0,nan,NaN,nan,163.0,nan,38.520279,-90.058060,555.110840,POINT (-90.05806 38.52028)
8146,1374073812,70.0,33.0,2.0,N,9.0,W,3.0,SW NE SW,NaN,nan,163.0,nan,38.575832,-90.105003,409.501556,POINT (-90.10500 38.57583)
8147,1374073912,31.0,19.0,1.0,N,10.0,W,3.0,nan,413.0,DM,163.0,nan,38.528660,-90.244118,410.597595,POINT (-90.24412 38.52866)
8148,1374794512,61.0,12.0,2.0,N,9.0,W,3.0,NW,427.0,GL,163.0,nan,38.640568,-90.051552,431.323914,POINT (-90.05155 38.64057)
8149,1378559712,NaN,12.0,2.0,N,8.0,W,3.0,nan,562.0,DM,163.0,Interpolated by C. Abert from the 30 meter DEM,38.635914,-89.938217,565.456055,POINT (-89.93822 38.63591)

Now, remove data from downholeData table that does not have location information (Since we would not know where to put it anyway)

This should also essentially "clip" the downholeData to the study area, since only study area wells remain in headerData

In [10]:
downholeData = w4h.removeNonlocatedData(downholeData, headerData)

2998078 records removed without location information.
56331 wells remain from 7188 located wells in study area.

Remove headerData rows without surface elevation information (this currently clips data from outside Illinois)

In [11]:
headerData = headerDataClip.copy()
headerData

,API_NUMBER,TOTAL_DEPTH,SECTION,TWP,TDIR,RNG,RDIR,MERIDIAN,QUARTERS,ELEVATION,ELEVREF,COUNTY_CODE,ELEVSOURCE,LATITUDE,LONGITUDE,ELEV_FT,geometry
0,13626212,201.0,15.0,2.0,N,5.0,W,3.0,NE NW NW,591.0,nan,27.0,nan,38.733337,-89.933357,580.419373,POINT (-89.93336 38.73334)
1,930917112,73.0,31.0,6.0,N,8.0,W,3.0,nan,537.0,GL,119.0,nan,38.930069,-90.030655,529.981140,POINT (-90.03065 38.93007)
2,930921712,75.0,25.0,6.0,N,9.0,W,3.0,SE,532.0,GL,119.0,nan,38.941998,-90.045364,530.172913,POINT (-90.04536 38.94200)
3,930921812,295.0,6.0,5.0,N,8.0,W,3.0,N2 SW NW,526.0,GL,119.0,nan,38.918377,-90.038200,520.954590,POINT (-90.03820 38.91838)
4,930921912,2195.0,23.0,5.0,N,8.0,W,3.0,SE,507.0,GL,119.0,nan,38.870552,-89.955078,507.976868,POINT (-89.95508 38.87055)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8145,1374073512,52.0,23.0,1.0,N,9.0,W,3.0,nan,NaN,nan,163.0,nan,38.520279,-90.058060,555.110840,POINT (-90.05806 38.52028)
8146,1374073812,70.0,33.0,2.0,N,9.0,W,3.0,SW NE SW,NaN,nan,163.0,nan,38.575832,-90.105003,409.501556,POINT (-90.10500 38.57583)
8147,1374073912,31.0,19.0,1.0,N,10.0,W,3.0,nan,413.0,DM,163.0,nan,38.528660,-90.244118,410.597595,POINT (-90.24412 38.52866)
8148,1374794512,61.0,12.0,2.0,N,9.0,W,3.0,NW,427.0,GL,163.0,nan,38.640568,-90.051552,431.323914,POINT (-90.05155 38.64057)
8149,1378559712,NaN,12.0,2.0,N,8.0,W,3.0,nan,562.0,DM,163.0,Interpolated by C. Abert from the 30 meter DEM,38.635914,-89.938217,565.456055,POINT (-89.93822 38.63591)

In [12]:
headerData_cleaned = w4h.removenotopo(df=headerData, printouts=True)
headerData = headerData_cleaned.copy()

Well records removed: 0
Number of rows before dropping those without surface elevation information: 8150
Number of rows after dropping those without surface elevation information: 8150

Remove rows from downholeData with no depth information and where depth information is obviously bad (i.e., top depth > bottom depth)

In [13]:
#Drop records with no depth information
donwholeData = w4h.dropnodepth(downholeData, printouts=True)
#Drop records with bad depth information (i.e., top depth > bottom depth) (Also calculates thickness of each record)
donwholeData = w4h.dropbaddepth(downholeData, printouts=True)

Number of rows before dropping those without record depth information: 56331
Number of rows after dropping those without record depth information: 55747
Number of well records without formation information deleted: 584
Number of rows before dropping those with obviously bad depth information: 56331
Number of rows after dropping those with obviously bad depth information: 55725
Well records deleted: 606

Drop records with no FORMATION information

In [14]:
downholeData = w4h.dropnoformation(downholeData, printouts=True)

Number of rows before dropping those without FORMATION information: 56331
Number of rows after dropping those without FORMATION information: 56331
Well records deleted: 0

Now we are going to export this data, to have record of cleaned data

In [15]:
downholeData.reset_index(inplace=True,drop=True)
headerData.reset_index(inplace=True,drop=True)

#downholeData.to_csv(str(repoDir)+'/out/downholeData_cleaned'+dateSuffix+'.csv',index_label='ID')
#headerData.to_csv(str(repoDir)+'/out/headerData_cleaned'+dateSuffix+'.csv',index_label='ID')

In [16]:
outData = pd.merge(left = downholeData, right = headerData, on='API_NUMBER')

# Classification

The following flags are used to mark the classification method:
- 0: Not classified
- 1: Specific Search Term Match
- 2: Wildcard match (startTerm) - no context
- 3: Bedrock classification for obvious bedrock
- 4: Wildcard match (startTerm) - with context

In [17]:
#Read in dictionary files for downhole data
specTermsPATH, startTermsPATH = w4h.searchTermFilePaths(dictdir=str(repoDir)+'/resources/', specStartPattern='*SearchTerms-Specific*', startGlobPattern = '*SearchTerms-Start*')

Most Recent version of this file is : SearchTerms-Specific_2022-11-16_essCols.csv
Most Recent version of this file is : SearchTerms-Start.csv

In [18]:
specTerms, startTerms = w4h.readSearchTerms(specfile=specTermsPATH, startfile=startTermsPATH)

Join the dataframes--for the specific search terms, this is the same as classifying them

In [19]:
downholeData_spec = w4h.specificDefine(downholeData, specTerms, printouts=True)
downholeData = downholeData_spec.copy()

Records Classified with full search term: 25280
Records Classified with full search term: 44.88% of data

Create a dataframe with only the records already classified (using the specific search terms in this case, classifiedDF), and one that still needs to be searched (searchDF)

In [20]:
classifedDF, searchDF = w4h.splitDefined(downholeData)
searchDF.shape[0]

31051

Now, do the classification routine on the searchDF database

In [21]:
searchDF = w4h.startDefine(df=searchDF, starterms=startTerms, printouts=True)

Start Term process should be done by 15:44

c:\Users\balikian\LocalData\CodesScripts\Github\wells4hydrogeology\w4h\classify.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CLASS_FLAG'].where(~df['FORMATION'].str.startswith(s,na=False),4,inplace=True)
c:\Users\balikian\LocalData\CodesScripts\Github\wells4hydrogeology\w4h\classify.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INTERPRETATION'].where(~df['FORMATION'].str.startswith(s,na=False),starterms.loc[i,'INTERPRETATION'],inplace=True)

Records classified with start search term: 3876
Records classified with start search term: 12.48% of remaining data

c:\Users\balikian\LocalData\CodesScripts\Github\wells4hydrogeology\w4h\classify.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BEDROCK_FLAG'] = df["INTERPRETATION"] == 'BEDROCK'

Merge specDF and searchDF back together all back in single dataframe

In [22]:
downholeData_Terms = w4h.remergeData(classifieddf=classifedDF, searchdf=searchDF)
downholeData = downholeData_Terms.copy()

Export terms that still need to be defined to csv (along with their counts)

In [23]:
#The outdir should be changed so it doesn't clog up the repository
#classify.export_toBeDefined(df=downholeData, outdir=str(repoDir)+'/out/')

Classify all  data under depth threshold (default is 550') as bedrock (should not be an issue, but just in case)

In [24]:
classifedDF, searchDF = w4h.splitDefined(downholeData)
searchDF = w4h.depthDefine(searchDF, thresh=550, printouts=True)
downholeData_Class = w4h.remergeData(classifieddf=classifedDF, searchdf=searchDF)
downholeData = downholeData_Class.copy()

3.0    500
Name: CLASS_FLAG, dtype: int64
test
Records classified as bedrock that were deeper than 550': 500
This represents 1.84% of the unclassified data in this dataframe.

c:\Users\balikian\LocalData\CodesScripts\Github\wells4hydrogeology\w4h\classify.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CLASS_FLAG'].mask(df['TOP']>thresh, 3 ,inplace=True) #Add a Classification Flag of 3 (bedrock b/c it's deepter than 550') to all records where the top of the interval is >550'
c:\Users\balikian\LocalData\CodesScripts\Github\wells4hydrogeology\w4h\classify.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BEDROCK_FLAG'].mask(df['TOP']>thresh, True, inplace=True)

Add '0' flag for data still not classified

In [25]:
downholeData = w4h.fillUnclassified(downholeData)

In [26]:
downholeData['CLASS_FLAG'].value_counts()

0.0    26675
1.0    25280
4.0     3876
3.0      500
Name: CLASS_FLAG, dtype: int64

## Add "Flag" for target interpratations

In [27]:
#dictDir = "\\\\isgs-sinkhole\\geophysics\\Balikian\\ISWS_HydroGeo\\WellDataAutoClassification\\SupportingDocs\\"
targetInterpDF = w4h.readLithologies()

In [28]:
downholeData = w4h.mergeLithologies(downholedata=downholeData, targinterps=targetInterpDF)

Flags used for target classification purposes:
- -2: No classification 
- -1: Classified, not used/not definitive
- 0: Classified, not target material
- 1: Classified as target material

In [29]:
downholeData['TARGET'].value_counts()

0.0    25089
1.0     4025
Name: TARGET, dtype: int64

Find all unique wells in downhole dataset

In [30]:
#Get Unique well APIs
wellsDF = w4h.getUniqueWells(downholeData)

Number of unique wells in downholeData: 7188

Sort dataset by API Number and Depth of top of record (will be easier to do data analysis with records in the correct order)

In [31]:
downholeData

,API_NUMBER,TABLE_NAME,FORMATION,THICKNESS,TOP,BOTTOM,INTERPRETATION,CLASS_FLAG,BEDROCK_FLAG,TARGET
0,13626212,WFORMATIONS,clay brown,20.0,0.0,20.0,CLAY,1.0,False,0.0
1,13626212,WFORMATIONS,"clay dark brown, wood",6.0,44.0,50.0,NaN,0.0,False,NaN
2,13626212,WFORMATIONS,"clay gray sandy, soft",20.0,20.0,40.0,NaN,0.0,False,NaN
3,13626212,WFORMATIONS,"clay gray, sticky",4.0,40.0,44.0,NaN,0.0,False,NaN
4,13626212,WFORMATIONS,"sandrock gray hard, dirty",41.0,114.0,155.0,NaN,0.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...
56326,1374794512,HWYBRIDGE_LOG,brown silt (levee fill),8.0,0.0,8.0,NaN,0.0,False,NaN
56327,1374794512,HWYBRIDGE_LOG,gray clay,5.0,11.5,16.5,CLAY,1.0,False,0.0
56328,1374794512,HWYBRIDGE_LOG,gray clay (with thin sand streaks),7.5,26.5,34.0,NaN,0.0,False,NaN
56329,1374794512,HWYBRIDGE_LOG,"gray, fine sand",5.0,39.0,44.0,NaN,0.0,False,NaN
56330,1374794512,HWYBRIDGE_LOG,"gray, mottled with brown clay",5.0,16.5,21.5,NaN,0.0,False,NaN

In [32]:
#Make this into a function?
downholeData_sorted = downholeData.sort_values(['API_NUMBER','TOP'])
downholeData_sorted.reset_index(inplace=True, drop=True)
downholeData_sorted = downholeData_sorted[pd.notna(downholeData_sorted["INTERPRETATION"])]
donwholeData.reset_index(inplace=True, drop=True)
donwholeData = downholeData_sorted.copy()

# Get Bedrock Depth and Layer Thickness

Plot just to see them

Reproject and align raster grids for surface elevation and bedrock topo (reproject well data too if needed)

In [33]:
inGrids = [bedrockElevGridIN, surfaceElevGridIN]
bedrockGrid, surfaceGrid = w4h.alignRasters(unalignedGrids=inGrids, modelgrid=modelGrid)

fig, ax = plt.subplots(ncols = 2, nrows=1)
bedrockGrid.plot(ax=ax[0])
surfaceGrid.plot(ax=ax[1])

Use the surface elevation raster and bedrock elevation raster to get depth to bedrock

In [34]:
driftThickGrid, layerThickGrid = w4h.get_drift_thick(surface=surfaceGrid, bedrock=bedrockGrid, noLayers=9, plotData=False)

Now, sample each well point (headerData) to get layer thickness, surface elevation, and bedrock

In [36]:
headerData = w4h.rastertoPoints_sample(raster=bedrockGrid, ptDF=headerData, newColName='BEDROCK_ELEV_FT')
#headerData['BEDROCK_ELEV_M'] = headerData['BEDROCK_ELEV_FT']* 0.3048

BEDROCK_ELEV_FT sampling should be done by 15:45

ValueError: Shape of passed values is (8150, 8150), indices imply (8150, 1)

In [ ]:

headerData = w4h.rastertoPoints_sample(raster=surfaceGrid, ptDF=headerData, newColName='SURFACE_ELEV_FT')
#headerData['SURFACE_ELEV_M'] = headerData['SURFACE_ELEV_FT']* 0.3048

headerData = w4h.rastertoPoints_sample(raster=driftThickGrid, ptDF=headerData, newColName='BEDROCK_DEPTH_FT')
#headerData['BEDROCK_DEPTH_M'] = headerData['BEDROCK_DEPTH_FT']* 0.3048

headerData = w4h.rastertoPoints_sample(raster=layerThickGrid, ptDF=headerData, newColName='LAYER_THICK_FT')
#headerData['LAYER_THICK_M'] = headerData['LAYER_THICK_FT']* 0.3048

Calculate  all layer depths/elevations at all wells

In [47]:
headerData = w4h.get_layer_depths(well_metadata=headerData, no_layers=9)

Merge Data from downhole and headerData to enable further calculation

In [48]:
downholeData = downholeData_sorted.copy()
headerJoinCols = ['API_NUMBER', 'LATITUDE', 'LONGITUDE', 'LONGITUDE_PROJ', 'LATITUDE_PROJ', 'ELEV_FT', 'BEDROCK_ELEV_FT', 'SURFACE_ELEV_FT', 'BEDROCK_DEPTH_FT', 'LAYER_THICK_FT', 'DEPTH_FT_LAYER1', 'DEPTH_FT_LAYER2', 'DEPTH_FT_LAYER3','DEPTH_FT_LAYER4', 'DEPTH_FT_LAYER5', 'DEPTH_FT_LAYER6','DEPTH_FT_LAYER7','DEPTH_FT_LAYER8','DEPTH_FT_LAYER9','geometry']
downholeData_layerInfo = w4h.mergeTables(leftTable=downholeData, rightTable=headerData, rightCols=headerJoinCols, onCol='API_NUMBER', how='inner')

Calculate the top and bottom elevation for each well record in downholeData

In [50]:
downholeData = downholeData_layerInfo.copy()

Define function to calculate target thickness in each layer

In [52]:
res, resdf = w4h.layer_target_thick(downholeData_layerInfo, layer=1)

In [37]:
rangeVar = range(9)
rangeVar

range(0, 9)

In [53]:
resdf

,API_NUMBER,LATITUDE,LONGITUDE,TOP,BOTTOM,SURFACE_ELEV_FT,DEPTH_FT_LAYER1,DEPTH_FT_LAYER2,LAYER_THICK_FT,TARG_THICK,TARG_THICK_PER,LAYER
0,13626212,38.733337,-89.933357,0.0,40.0,1158.879639,0.0,21.242296,21.242296,0.0,0.0,1
1,930921812,38.918377,-90.038200,0.0,80.0,1037.136108,0.0,7.369134,7.369134,0.0,0.0,1
2,930921912,38.870552,-89.955078,0.0,188.0,1020.362732,0.0,23.631510,23.631510,0.0,0.0,1
3,930924512,38.778343,-89.915634,3.0,24.0,1701.760620,0.0,14.828003,14.828003,0.0,0.0,1
4,930924912,38.768166,-89.920731,2.0,9.0,1682.792969,0.0,12.513937,12.513937,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4940,1374069912,38.556110,-90.013054,0.0,122.0,1142.545898,0.0,12.951470,12.951470,0.0,0.0,1
4941,1374073012,38.628056,-90.058334,12.0,44.0,1263.217773,0.0,40.367352,40.367352,0.0,0.0,1
4942,1374073512,38.520279,-90.058060,0.0,52.0,1112.947632,0.0,32.136459,32.136459,0.0,0.0,1
4943,1374073812,38.575832,-90.105003,5.0,26.0,1226.725830,0.0,35.660725,35.660725,0.0,0.0,1
4944,1374794512,38.640568,-90.051552,19.5,28.0,858.127502,0.0,29.412544,29.412544,0.0,0.0,1

# Work here next!

Now run that function over all the layers, looping through each one

In [ ]:
#THIS CELL WILL NEED TO BE UPDATED
codeTarget='Test'
outDIR = "\\\\isgs-sinkhole\\geophysics\\Balikian\\ISWS_HydroGeo\\MetroEast_HydroGeo\\CodeOutput\\"+codeTarget+"\\"
codeTargShort='Test_'

for i in np.arange(1,10):
    res, res_df = w4h.layer_target_thick(df=downholeData, layer=i)#Run the function defined above for each layer
    outputname = codeTargShort+'Lyr'+str(i)+'.csv' #Create a filename based on the layer and target
    res_df.to_csv(outDIR+outputname)  #Export the file to csv
    #Could also potentially save these to variables for use in following cells

# Interpolate thickness values in each layer

Loop through each layer and interpolate (use same parameters (?))

Ensure rasters align (are co-registered) with grid

# Export

In [ ]:
#Export data 
downhole_bedrockDepth_XYZ.to_csv('\\\\isgs-sinkhole\\geophysics\\Balikian\\BedrockWellData\\Wells\\ProcessedWellData\\Downhole_BedrockPicks.csv',index_label="ID")
wPermits_XYZ.to_csv('\\\\isgs-sinkhole\\geophysics\\Balikian\\BedrockWellData\\Wells\\ProcessedWellData\\wPermits_BedrockPicks.csv',index_label="ID")